//
// Card stats
//

.card-stats {
    .card-body {
        padding: 0rem 1.5rem;
    }
    /* Add a pseudo-element for the shadow */
.card-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Match the border-radius of the card */
    background: rgba(0, 0, 0, 0.1); /* Shadow color and opacity */
    opacity: 0;
    z-index: -1; /* Place the shadow behind the card content */
    transition: opacity 0.5s ease;
  }
  
    /* Show the shadow on hover */
.card-body:hover::before {
    opacity: 10;
  }

    .card-status-bullet {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
    }
}
