<div class="header py-7 py-lg-8" >
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8">
            <img class="n-logo" src="assets/img/school_logo.png" alt="scholl logo" height="140px">
            <h1 style="color: black;">আদর্শ উচ্চ বিদ্যালয়, রুস্তমপুর - প্রথম পুনর্মিলনী</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4" >
            <!-- <a href="/booking" class="btn btn-primary btn-round button-2" 
                style="border-radius: 10px;-webkit-animation: glowing 1500ms infinite;
              -moz-animation: glowing 1500ms infinite;
              -o-animation: glowing 1500ms infinite;
              animation: glowing 1500ms infinite;">Book Your Seat NOW!!</a> -->
           <button class="btn btn-primary btn-round button-2" 
           style="border-radius: 10px;-webkit-animation: glowing 1500ms infinite;
         -moz-animation: glowing 1500ms infinite;
         -o-animation: glowing 1500ms infinite;
         animation: glowing 1500ms infinite;" (click)="GoToBooking()">Book Your Seat NOW!!</button>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 justify-content-center">
          <h1 style="color: black;">Trending Now</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/Syl-5-10.09.23.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">আদর্শ উচ্চ বিদ্যালয় রুস্তমপুরের প্রাক্তন শিক্ষার্থীদের পুণর্মিলনী ১২ ও ১৩ জানুয়ারি</h5>
                    <p class="card-text">সিলেটের দক্ষিণ সুরমা উপজেলার সিলাম ইউনিয়নের আদর্শ উচ্চ বিদ্যালয় রুস্তমপুর’র প্রাক্তন শিক্ষার্থীদের পুনর্মিলনী অনুষ্ঠানের সিদ্ধান্ত নেয়া হয়েছে।</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/Syl-5-10.09.23.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">আদর্শ উচ্চ বিদ্যালয় রুস্তমপুরের প্রাক্তন শিক্ষার্থীদের পুনর্মিলনী ১২ ও ১৩ জানুয়ারি ২০২৪</h5>
                    <p class="card-text">দক্ষিণ সুরমার সিলাম ইউনিয়নের আদর্শ উচ্চ বিদ্যালয় রুস্তমপুরের পুনর্মিলনী উদযাপন কমিটির এক সভা অনুষ্ঠিত হয়েছে।</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="assets/img/Syl-5-10.09.23.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">আদর্শ উচ্চ বিদ্যালয় রুস্তমপুরের প্রাক্তন শিক্ষার্থীদের পুনর্মিলনী</h5>
                    <p class="card-text">দক্ষিণ সুরমার সিলাম ইউনিয়নের আদর্শ উচ্চ বিদ্যালয় রুস্তমপুরের পুনর্মিলনী উদযাপন কমিটির এক সভা অনুষ্ঠিত হয়েছে।</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    
</div>

 